.logo {
    color: white;
    text-align: start;
    z-index: 10000;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 50px;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    margin-top: 0px;
    z-index: 10000;
    border-bottom: solid 0.5px white;
}

.linkNavbar {
    font-size: 20px;
    color: white;
    margin-left: 150px;
    margin-bottom: 0px;
    text-decoration: none
}

.linkNavbar1 {
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-bottom: 0px;
    text-decoration: none
}

.navSearch {
    background-color: white;
    margin-left: 240px;
    width: 90%;
    border-radius: 40px;
    border: solid white;
    outline: none;
    color: white;
    height: 40px;
    margin-bottom: 5px;
}

.Btnregistrazione {
    width: 90px;
    height: 50px;
    background-color: white;
    margin-left: 85%;
    margin-bottom: 10px;
    position: absolute;
    border-radius: 20px;
    border: none;
    font-size: 17px;

}

.Btncatalogo {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 25px;
    margin-left: 64%;
    margin-top: 30px;
}

.secondaPagina1 {
    background-color: red;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
}

.containerCard1 {
    width: 100%;
    height: 70vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
}


.primeCard {
    height: 400px;
    width: 300px;
    margin-top: 55px;
    position: relative;
    z-index: 1;
    background-color: white;

}

.secondaPagina {
    background-color: black;
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}


.containerCard {
    width: 100%;
    height: 70vh;
    background-color: #303030;
    display: flex;
    justify-content: space-around;
}


.primeTreCard {
    height: 400px;
    width: 350px;
    margin-top: 40px;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(255, 255, 255, 0.15) 0px 5px 10px;
    position: relative;
    z-index: 1;
}

.h4PrimeTreCard {
    color: white;
    margin-top: 8px;
}

.primeTreCard2 {
    height: 400px;
    width: 20%;
    margin-top: 0px;
    box-shadow: rgba(255, 255, 255, 0.15) 0px 15px 25px, rgba(255, 255, 255, 0.15) 0px 5px 10px;
    position: relative;
    z-index: 1;
    padding: 2px;
}

.terzaPagina {
    background-color: black;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px grey;


}

.containerCardTerza {
    width: 100%;
    height: 60vh;
    background-color: #303030;
    display: flex;


}

.primeTreCard3 {
    height: 400px;
    width: 20%;
    margin-top: 0px;
    position: relative;
    z-index: 1;
    padding: 2px;
}

.BtnCardTerzaPagina {
    background-color: #303030;
    border: none;
    font-size: 20px;
    color: darkgray;
}

.h1Frase {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.filtroricerca {
    width: 150px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    margin-right: 10px;
    border-radius: 20px;

}

.selectFiltro {
    outline: none;
    background-color: rgba(0, 0, 0, 0.001);
    
    color: white;
    border: none;
    font-size: 19px;
    margin-left: 34px;
}

.filtroricercaBtn{width: 150px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.filtroricerca:active{
   transition: all 0.5s;
   color: white;
}